nav{
  background-color: #14274E;
}
.navbar-nav > a:hover, a:focus , .number > a:hover{
  color: #9BA4B4 !important;
  transition: all  linear .2s ;
}

button{
background-color: #000;
}
.navbar-toggler:focus{
  box-shadow: 0 0 0 .10rem #fff;
}

.navbar-toggler-icon{
  width:25px;
  height:3px;
  background-color:white;
  position:relative;
}
.navbar-toggler-icon:before{
  content:"";
  width:25px;
  height:3px;
  background-color:white;
  position: absolute;
  top: 8px;
  left: 0;
}
.navbar-toggler-icon:after{
  content:"";
  width:25px;
  height:3px;
  background-color:white;
  left: 0;
  position:absolute;
  bottom: 8px;
}
.mb{
  height: 25vh;
  font-size: 1.56rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__Nav{
  height: 100vh;
}
.overflow{
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.35);
position: absolute;
z-index: 5;
}
.overflow--text{
  postition:absolute;
  z-index:8;
}
.carousel-control-next, .carousel-control-prev
{
  z-index:7;
}
.babyblue{
  background-color: #14274E !important;
  border-color: #14274E !important;
}
.btn-primary:hover{
  transform: scale(1.2) !important;
}
.bg-greyblue{
  background-color:#F1F6F9;
}
.bg-greyblue > .row{
  align-items: baseline !important;
  display: flex ;
}
.h-18{
  height:18px;
}
.title-One{
  font-size:2.5rem;
  font-family:"Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.title-One > h1{
  border-bottom: 1px solid #14274E ;
  padding-bottom: 10px;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.026);
}
.main > h2{
  font-size:1.125rem;
  font-weight: 700;
  webkit-font-smootinh: antialiased;
  border-bottom: 4px solid #14274E ;
  padding-bottom: 10px;
}

.image-box{
  width: 250px;
}
.main> p{
  font-size: .875rem;
  line-height:1.2;
  webkit-font-smootinh: antialiased;
  background: white;
  box-shadow: 0px 2px 14px 0px #14274e;
  height: 192px;
}
.image-box > img {
  width: 100%;
}

.offerte{
  width: 100px;
}

@media screen and  (min-width: 768px){
  .mb{
    height: auto;
    display:block;
  }
  
  .navbar__Nav{
    height: auto;
  }

}


@media screen and (min-width: 992px){
  nav{
    position:fixed !important;
    width:100% !important;
    z-index:10 !important ;
    transition-timing-function:ease-in;
    transition:all 0.5s;
  }
  .nav_black{
    background-color:#000;
}
  .navbar__Nav{
    margin-left: 50px;
      width: 60%;
      justify-content: space-evenly;
  }
  .mb{
    font-size: 1rem;
  }
  .lg-w-100{
    width:100%;
  }
  .lg-flex-end{
    justify-content: flex-end;
    display: flex;
  }
  .callToA{
    display: flex;
    justify-content: space-evenly;
  }
}